body {
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-image: url(../img/background2.png);
	background-repeat: repeat; 
	}
	
h1 {
	margin-top:0px; 
	margin-bottom: 0px; 
	margin-left: 15px;
	margin-right: 0px;
	padding: 0px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 900;
	color: gold;
	}
	
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;  
	}
.indexP {
	color: royalblue; 
	background-color: white; 
	padding: 1px; 
	padding-left: 2px; 
	padding-right: 2px; 
	border: 2px dotted darkred; 
	border-radius: 3px; 
}
	
#Content>p {margin:0px; text-indent:30px;}

a {
	color:#09c;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
	
a:link {color:#09c;}

a:visited {color:#07a;}

a:hover {background-color:#eee;}

#Header {
	font-size:24px;
	margin-top:40px;
	margin-bottom: 0px;
	margin-left:10px;
	margin-right: 0px;

	padding-top:17px; 
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:33px; /* 14px + 17px + 2px = 33px */
	border-style: solid;
	border-color:black;
	border-width:5px;
	line-height:11px;
	background-color: rgb(251, 255, 0);

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */

	height:14px; /* the correct height */
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#Header {height:14px;}

#Content {
	margin:0px 210px 50px 10px;
	padding:10px;
	}

#Menu {
	position:absolute;
	top:100px;
	right:20px;
	width:210px;
	padding:10px;
	background-color: azure;
	border:3px dashed rgb(192, 16, 16);
	line-height:17px;
/* Again, the ugly brilliant hack. */

	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:210px;}

.error {
	color:#FF0033;
	font-size:14px;
	background-color: white; 
	padding: 1px; 
	padding-left: 2px; 
	padding-right: 2px; 
	border: 2px dotted cyan; 
	border-radius: 3px; 
	}

.special {
	text-align: center; 
}
